html,
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/bg-space.jpg");
  background-size: cover;
}
h1 {
  text-align: center;
  color: #fff;
}/*
#start-button {
  margin: 0px auto 40px;
  display: flex;
}*/
canvas {
  display: block;
  margin: 50px auto;
}
