html, body {
    margin: 0;
    padding: 0;
    background-image: url('../img/bg-space.jpg');
    background-size: cover;
}
h1{
    text-align: center;
    color:#fff;
}
#canvas {
background-color: #fff;
display:flex;
justify-content: center;
align-items: center;
margin: auto;
}